{% extends 'base.html.twig' %}

{% block title %}Mi Api{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bienvenido al Servico API MO2O</h1>

    Disponemos de los siguientes servicios:
    <ul>
        <li>
            Busqueda Productos por párametro <b>food</b> con detalles id, nombre y descripción.
            <div>
                <code>
                    URL: api/data_by_filter <br>
                    METHOD: POST <br>
                    VARIABLE: food
                </code>
            </div>
            <div>
                Ejemplo: curl --location --request POST 'http://example.com/api/data_by_filter' \ --form 'food="carne"'

            </div>
        </li>

        <li>
            Busqueda Productos por párametro <b>food</b> con detalles id, nombre, descripción, imagen, slogan y cuando fue fabricada.
            <div>
                <code>
                    URL: api/data_by_filter_details <br>
                    METHOD: POST <br>
                    VARIABLE: food
                </code>
            </div>
            <div>
                Ejemplo: curl --location --request POST 'http://example.com/api/data_by_filter_details' \ --form 'food="carne"'

            </div>
        </li>
    </ul>
</div>
{% endblock %}
